@model BonosCalculadora.Models.Calculadora

@{
    ViewData["Title"] = "Details";
}


<div class="container text-white" style="background-image: url(https://besthqwallpapers.com/img/original/128534/finance-concepts-charts-background-with-graphs-stock-exchanges-money.jpg)">
    <div class="row">
        <div class="col-md-6 m-auto text-center">
            <p style="color:transparent">.</p>
            <h1>Estructuración del Bono.</h1>
            <p style="color:transparent">.</p>
        </div>
    </div>
</div>

<div class="container">
    <section id="blog" class="py-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card-columns">
                        <div class="card bg-dark text-white">
                            <blockquote class="card-blockquote card-body">
                                <h4 class="card-title">Resultados.</h4>
                                <small class="text-white-50">
                                    De la estructuración del Bono.
                                </small>
                                <p>Frecuencia del Cupon: @ViewBag.Frec </p>
                                <p>Dias de Capitalizacion: @ViewBag.Capi</p>
                                <p>Nº Periodos por Año: @ViewBag.Peri</p>
                                <p>Nº Total de Periodos: @ViewBag.PeriT</p>
                                <p>Tasa Efectiva Anual: @ViewBag.Tasa</p>
                            </blockquote>
                        </div>

                        <div class="card bg-dark text-white">
                            <blockquote class="card-blockquote card-body">
                                <h4 class="card-title">Resultados.</h4>
                                <p>Tasa Efectiva del periodo: @ViewBag.TasaP</p>
                                <p>COK de Periodo: @ViewBag.CokP</p>
                                <p>Costes Iniciales Emisor: @ViewBag.Cie</p>
                                <p>Costes Iniciales Bonista: @ViewBag.Cib</p>
                                <small class="text-white-50">
                                    Del Precio Actual y Utilidad.
                                </small>
                                <p>Precio Actual: @ViewBag.vna</p>
                            </blockquote>
                        </div>

                        <div class="card bg-dark text-white">
                            <blockquote class="card-blockquote card-body">
                                <h4 class="card-title">Resultados.</h4>
                                <p>Utilidad/Pérdida: @ViewBag.fbon </p>
                                <small class="text-white-50">
                                    De los Indicadores de Rentablidad.
                                </small>
                                <p>TCEA Emisor: @ViewBag.tcemi</p>
                                <p>TCEA Emisor c/ Escudo: @ViewBag.tcemiescu</p>
                                <p>TREA Bonista: @ViewBag.tcboni</p>
                                <p class="text-dark"> .</p>
                            </blockquote>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>



<div class="container">
    <table class="table table-responsive table-bordered table-sm">
        <thead>
            <tr class="table-primary">
                <th>N°</th>
                <th>Inflacion Anual</th>
                <th>Inflacion Periodo</th>
                <th>Bono</th>
                <th>Bono Indexado</th>
                <th>Cupon (Interes)</th>
                <th>Cuota</th>
                <th>Amortizacion</th>
                <th>Prima</th>
                <th>Escudo</th>
                <th>Flujo Emisor</th>
                <th>Flujo Emisor c/Escudo</th>
                <th>Flujo Bonista</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.listahi)
            {
                <tr>
                    <td>@item.numero</td>
                    <td>@item.infanual</td>
                    <td>@item.infperiodo</td>
                    <td>@item.bono</td>
                    <td>@item.bonoindexado</td>
                    <td>@item.interes</td>
                    <td>@item.cuota</td>
                    <td>@item.amort</td>
                    <td>@item.prima</td>
                    <td>@item.escudo</td>
                    <td>@item.femisor</td>
                    <td>@item.femiescu</td>
                    <td>@item.fbonista</td>
                </tr>
            }
        </tbody>
    </table>
</div>

