@model IEnumerable<BonosCalculadora.Models.FrecuenciaPago>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Identity/Pages/_ViewStart.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipofrecuencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diasfrecuencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calculadora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipofrecuencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diasfrecuencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calculadora.CalculadoraId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FrecuenciaPagoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FrecuenciaPagoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FrecuenciaPagoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
